// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.centered-text {
    text-align: center;
}

.display-block {
    display: block;
}

.margin-auto {
    margin: 0 auto;
}

.margin-25 {
    margin: 25px 0;
}